{
    "BookmarkBarEnabled": false,
    "ShowAppsShortcutInBookmarkBar": false,
    "ShowHomeButton": false,
    "TranslateEnabled": false,
    "HomepageIsNewTabPage": false,
    "HomepageLocation": "{{ chromium.homepage | default('about:blank') }}"
}
